@mixin custom-font($font-size,$font-weight){
    font-size:$font-size;
    font-weight:$font-weight;
}
@mixin box_shadow($size){
    -webkit-box-shadow: $size $size 5px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: $size $size 5px 0px rgba(109, 109, 109, 0.75);
    box-shadow: $size $size 5px 0px rgba(109, 109, 109, 0.75);
}
