@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500');
@import 'mixins';
@import 'variables';

body{
    font-family: 'Poppins', sans-serif;
}
.content{
    text-align:center;
    .content-header{
        @include custom-font(40px,500);
        color:$head-color;
        position:relative;
        padding:30px;
        margin-bottom:30px;
        &:after,&:before{
            content:"";
            position:absolute;
            background-color:darken($color: ($head-color), $amount: 5%);
            bottom:0;
            left:50%;
            transform:translateX(-50%);
        }
        &:after{
            height:1px;
            width:200px;
        }
        &:before{
            height:7px;
            width:7px;
            bottom:-3px;
            transform:translateX(-50%) rotate(45deg);
        }
    }
    .row{
        margin-top:30px;
        .service{
            img{
                width:50%;
                border-radius:50%;
                margin-bottom:10px;
            }
            h1{
                color:$head-color;
                margin:20px 0px;
                @include custom-font(24px,500);
            }
            p{
                @include custom-font(15px,300);
            }
        }
    }
    p{
        @include custom-font(17px,300);
    }
}