@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500');
@import 'mixins';
@import 'variables';

header{
    position:relative;
    nav{
        padding:50px 0px;
        @include rwd(breaks){
            padding:0;
            font-size:13px;
            ul{
                li{
                    &:first-child{
                        display:none;
                    }
                }
            }
        }
        
        width:100%;
        color:whitesmoke;
        position:absolute;
        top:0;
        transition:0.2s;
        z-index:99;
        .nav-wrapper{
            margin:0 10%;
            display:flex;
            flex-flow:row wrap;
            @include rwd(breakm){
                margin: 0 2%;
            }
            @include rwd(breaks){
                margin:0;
            }
        }
        .logo{
            padding:13px 25px;
            letter-spacing:3px;
            font-weight:500;
            background-color:transparentize($second-color,0.2);
        }
        ul{
            margin-left:auto !important;
            padding:0; margin:0;
            display:flex;
            list-style-type: none;
            li{
                &:first-child{
                    background-color:rgba(255,255,255,0.5);
                }
                background-color:rgba(255,255,255,0.3);
                @include flex-center();
                transition:0.2s;
                cursor:pointer;
                padding:13px 25px;
                &:hover{
                    color:$second-color;
                }
            }
        }
    }
    background: linear-gradient(transparentize($head-color,0.445), transparentize($head-color,0.445)), url("../images/cleaning.jpg") no-repeat;
    background-size:cover;
    height:100vh;
    @include flex-center();
    .h-content{
        color:whitesmoke;
        text-align:center;
        h1{
            padding:10px;
            text-align:center;
            @include custom-font(80px,100);
            @include rwd(breaks){
                padding:5px;
                @include custom-font(50px,100);
            }
            @include rwd(breakm){
                @include custom-font(60px,100);
            }
            span{
                font-weight:200;
            }
        }
        p{
            @include custom-font(19px,300);
            @include rwd(breaks){
                padding:5px;
            }
        }
        button{
            padding:15px 40px;
            border: solid 1px $second-color;
            background-color:rgba(0,0,0,0);
            font-weight:500;
            color:whitesmoke;
        }
    }
}